<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <img src="https://one.walmart.com/content/walmartethics/fr_fr/tools/header/_jcr_content/header/favicon.img.png" style="width: 50px; height: 50px;">
            <strong style="font-size: 30px;">Mon Wallmart</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Rechercher">
            </div>
            <span class="fas fa-search search-icon"></span>


        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>
