<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Product_sample_icon_picture.png/800px-Product_sample_icon_picture.png" alt="">
                <h6>Tout les produits</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="https://cdn-icons-png.flaticon.com/512/2554/2554007.png" alt="">
                <h6>Vêtements</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="width: 62px; margin-top: 5px;" src="https://cdn-icons-png.flaticon.com/512/2361/2361656.png" alt="">
                <h6>Bijoux</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Prix :</strong> {{item.price}} €</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Ajouter au panier</button>
            </div>
        </ng-container>

    </div>
</div>
